Repaso EC2/Cliente/Cliente/Service References/SwServiceReference/WsAuthImplService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pe.solusage.com/" targetNamespace="http://pe.solusage.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="authTest" type="tns:authTest" />
  <xs:element name="authTestResponse" type="tns:authTestResponse" />
  <xs:complexType name="authTest">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="authTestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>